<configuration>
  <property name="log.base" value="/home/andy/temp/log/webapp-bootstrap" />
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>app %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>  
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${log.base}/webapp-bootstrap.log</file>
    <append>false</append>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%date [%thread] %-5level %logger{35}: %msg%n</pattern>
    </encoder>
  </appender>        
  
  <logger name="com.hollywood.fast.sampleapp" level="INFO"/>   
  <logger name="org.springframework" level="DEBUG"/>   
  
  <root level="WARNING">
      <appender-ref ref="FILE" />
      <appender-ref ref="STDOUT" />
  </root>
  
</configuration>